.container {
  display: flex;
}

.users-info {
  margin-top: 20px;
  margin-left: 20px;
}

.user {
  border: 1px solid grey;
  padding-left: 30px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.user-albums {
  margin-top: 20px;
  margin-left: 20px;
}

.album {
  border: 1px solid blueviolet;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}